@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap");
@import url();
body {
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  height: 100%;
}

li a {
  display: block;
  color: #000;
  padding: 10px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04aa6d;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.book_text {
  text-align: center;
}
